/* Imágenes */
.front {
  z-index: 10;
  width: 75%;
  /* max-height: 80vh; Ajusta según necesidad */
  object-fit: contain; /* Evita distorsión */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}
.back {
  z-index: 1;
  width: 15%;
  filter: brightness(0.8);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

.front-back {
  z-index: 10;
  width: 20%;
  object-fit: contain; /* Evita distorsión */
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  filter: brightness(0.8);
}
.back-front {
  z-index: 1;
  width: 25%;
  /* filter: brightness(0.8); */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  height: 100%;
}
.project-rev {
  flex-direction: row-reverse;
}

/* Contenedor de botones */
.buttons-container {
  margin-top: auto; /* Empuja los botones hacia abajo */
  padding: 1rem 0; /* Espaciado opcional */
  display: flex;
  gap: 1rem; /* Separación entre botones */
}
.rotate-on-hover {
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.rotate-on-hover:hover {
  transform: rotateY(180deg);
}
.img-rotate {
  transform: rotateY(360deg); /* Si es estático */
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
  cursor: pointer;
}
img {
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .projects-container {
    flex-direction: column;
  }

  .front {
    width: 100%;
  }
}
