<div class="info-container">
  <div
    style="
      gap: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <img
      class="img-profile"
      src="assets/img/projects-images/yo.jpg"
      width="500px"
      alt=""
    />

    <div class="info-content">
      <!-- <strong>Correo:</strong> -->
      <p>{{ "mikohel96@gmail.com" }}</p>
    </div>
  </div>

  <div class="background-title">
    <div class="title-info">
      <div class="info-content">
        <strong>Nombre:</strong>
        <p>Miguel Angel Dominguez Flores</p>
      </div>
      <div class="info-content">
        <strong>Ingenieria:</strong>
        <p>Sistemas Computacionales</p>
      </div>
      <div class="info-content">
        <strong>Rol:</strong>
        <p>Full Stack Developer</p>
      </div>
      <div class="info-content">
        <strong>Ciudad:</strong>
        <p>Morelia, Mich.</p>
      </div>
    </div>
  </div>
</div>
<app-cards-info></app-cards-info>
