<div class="info-container">
  <img
    class="img-profile"
    src="/assets/img/projects-images/yo.jpg"
    width="500px"
    alt=""
  />

  <div class="background-title">
    <div class="title-info">
      <div class="info-content">
        <strong>Nombre:</strong>
        <p>Miguel Angel Dominguez Flores</p>
      </div>
      <div class="info-content">
        <strong>Ingenieria:</strong>
        <p>Sistemas Computacionales</p>
      </div>
      <div class="info-content">
        <strong>Rol:</strong>
        <p>Full Stack Developer</p>
      </div>
      <div class="info-content">
        <strong>Ciudad:</strong>
        <p>Morelia, Mich.</p>
      </div>
    </div>
  </div>
</div>
<app-cards-info></app-cards-info>
