h1 {
  font-size: 3.125rem;
  color: var(--gray-900);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}

/* p {
  margin: 0;
} */

.container-dev-icons {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 100px;
  flex-direction: column;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  margin: auto;
  overflow: auto;
}
.brillo-texto {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: rgb(205, 205, 205);
  position: relative;
}

.brillo-texto::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;

  background: linear-gradient(
    300deg,
    transparent 0%,
    rgb(255, 255, 255) 50%,
    transparent 100%
  );
  background-size: 25% 100%;
  background-repeat: no-repeat;

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: brillo 0.7s linear infinite;
  pointer-events: none;
}

@keyframes brillo {
  0% {
    background-position: -20% 0%;
  }
  100% {
    background-position: 150% 0%;
  }
}

.portfoil-view {
  width: 100%;
  /* height: 50%; */
  display: flex;
  gap: 4rem;
  position: relative;
}
.buttons-np {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 15px;

  align-items: center;
}
.icono {
  transition: ease-in-out 0.1s all;
}
.icono:hover {
  transform: scale(1.1);
}
.button-np {
  width: 10rem;
  padding: 10px;
  background-color: #0000004a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border-style: groove;
  border-color: rgba(194, 182, 182, 0.752);
}

.button-np:hover {
  border-color: rgba(231, 221, 221, 0.752);
}

.disabled-btn {
  background-color: #cacaca6e;
  color: rgb(203 203 203 / 70%);
}

.personal-info-container {
  width: 100%;
  background-color: #0000004a;
  border-radius: 15px;
  height: auto;
  border-style: groove;
  box-sizing: border-box;
  padding: 1rem;
}

.content-nintendo {
  width: 50%;
  align-items: center;
  display: flex;
}
.content-projects {
  width: 50%;
  min-height: 45vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.titulo-p {
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  /* font-family: monospace; */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Espacio entre cards */
}

.card {
  flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
  min-height: 250px; /* Altura fija */
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: #ffffff59;
}

.card h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  justify-content: space-evenly;
  align-items: end;
  overflow: auto; /* Para contenido que exceda la altura */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card {
    max-width: calc(50% - 1rem); /* 2 por fila en móviles */
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 100%; /* 1 por fila en móviles muy pequeños */
  }
}
@media screen and (max-width: 650px) {
  .content-nintendo {
    width: 100%;
  }
  .portfoil-view {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .content-projects {
    width: 100%;
    min-height: 350px;
    height: auto;
  }
}
