<main>
  <div style="width: 100%; overflow-wrap: break-word; word-break: break-word">
    <h1 class="titulo-p">PORTAFOLIO</h1>
  </div>

  <section>
    <app-personal-info class="personal-info-container"> </app-personal-info>
  </section>

  <h1 class="titulo-p">PROYECTOS</h1>

  <section class="portfoil-view">
    <app-pokedex [devTools]="arrTools" class="content-nintendo"> </app-pokedex>
    <app-portfoil-preview
      (nextClicked)="nextProject()"
      (prevClicked)="prevProject()"
      (projectRotate)="rotateProject()"
      [resImgProject]="imagesProject"
      [resTitleProject]="titleProject"
      [resImagesProject]="imagesProject"
      class="content-projects"
    ></app-portfoil-preview>

    <div class="buttons-np">
      <button
        [disabled]="currentIndex <= 0"
        [ngClass]="currentIndex <= 0 ? 'disabled-btn' : ''"
        class="button-np"
        (click)="prevProject()"
      >
        Anterior
      </button>
      <button
        [ngClass]="
          currentIndex == imagesProject.length + 1 ? 'disabled-btn' : ''
        "
        class="button-np"
        id="next"
        (click)="nextProject()"
      >
        Siguiente
      </button>
    </div>
  </section>
  <!-- Itera por cada categoría del objeto tools -->
  <h1 class="titulo-p">HERRAMIENTAS DEV</h1>

  <section class="cards-container">
    <div *ngFor="let category of categories" class="card">
      <h3>
        {{
          category == "front"
            ? "Frontend"
            : category == "backend"
            ? "Backend"
            : category == "storage"
            ? "Storage & Cloud"
            : "Lenguages"
        }}
      </h3>
      <div class="icons">
        <div
          class="icono"
          *ngFor="let tool of getToolsArray(tools[category])"
          style="
            display: flex;
            justify-content: space-around;
            align-items: center;
            min-height: 100px;
            flex-direction: column;
          "
        >
          <img [src]="tool.url" [alt]="tool.name" width="70" loading="lazy" />
          <p style="font-size: xx-small">{{ tool.name }}</p>
        </div>
      </div>
    </div>
  </section>
</main>
<router-outlet />
